body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.but{
    width: 300px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: solid 1px rgb(141, 141, 141);

}

    .but a{
        text-decoration: none;
        color: rgb(70, 22, 180);
        padding: 30px;
    }